<%- include("templates/header") %>
    <main class="flex justify-center items-center text-center p-8 h-full w-full bg-white">
        <div class="container flex flex-col items-center">
            <div class="w-1/2 grid gap-y-2">
                <!-- Tab Navigation -->
                <p class="font-bold text-center">
                    Sorry, this page isn't available
                </p>
                <p class="text-gray-400">
                    The link you followed may be broken, <br />
                    or the page may have been removed.
                </p>
                <a href="/">
                    <button
                        class="bg-black text-white font-medium rounded-lg text-sm px-4 py-1 text-center hover:text-white">Back</button>
                </a>
            </div>
            <%- include("templates/footer") %>