<nav class="fixed top-0 z-9999 w-full bg-white">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex md:ml-16 md:justify-between">
            <div class="md:hidden flex items-center justify-center flex-1 md:flex-none ml-8 md:ml-0">
                <a href="/" class="flex ms-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                        <text x="12" y="18" font-family="Arial, sans-serif" font-size="5" text-anchor="middle"
                            fill="currentColor">♡</text>
                    </svg>
                </a>
            </div>
            <% if (!authenticated) { %>
                <div class="hidden md:flex md:items-center md:justify-between w-full">
                    <div class="flex flex-auto  justify-center font-semibold">Home</div>
                    <div class="flex items-end">
                        <a href="/login">
                            <button type="button" class="bg-black text-white px-4 py-1 text-center rounded-lg">
                                Log in
                            </button>
                        </a>
                    </div>
                </div>

                <% } else { %>
                    <div class="hidden md:flex items-center justify-center w-full relative">
                        <div class="grow flex justify-center">
                            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                                class="flex items-center justify-center w-full py-2 px-3 text-gray-900 rounded font-semibold">
                                For you
                                <div class="ml-2 border-2 rounded-full w-6 h-6 flex justify-center items-center">
                                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <!-- Dropdown menu (화살표 바로 아래에 위치) -->
                        <div id="dropdownNavbar"
                            class="absolute top-full mt-2 z-50 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 border-2">
                            <div class="py-1">
                                <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Log
                                    out</a>
                            </div>
                        </div>
                    </div>
                    <!-- <button data-collapse-toggle="navbar-default" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-end text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-default" aria-expanded="false">
                        <div class="flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white ">
                                <path
                                    d="M2 8C2 7.44772 2.44772 7 3 7H21C21.5523 7 22 7.44772 22 8C22 8.55228 21.5523 9 21 9H3C2.44772 9 2 8.55228 2 8Z"
                                    fill="currentColor" />
                                <path
                                    d="M3 15C2.44772 15 2 15.4477 2 16C2 16.5523 2.44772 17 3 17H15C15.5523 17 16 16.5523 16 16C16 15.4477 15.5523 15 15 15H3Z"
                                    fill="currentColor" />
                            </svg>
                        </div>
                    </button> -->
                    <% } %>
        </div>
    </div>
</nav>
<%- include("sidebar") %>